.codeeditor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1000px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 80px auto;
    padding: 20px;
    background-color: #020304;
  }
  
  .codeeditor__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.codeeditor__button {
    font-size: 2.5rem;
    color: #AD6A48;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  .codeeditor__button:hover{
    filter: drop-shadow(0px 0px 10px #ebe0e0);
  }
  
  .codeeditor__button--locked {
    /* background-color: rgba(255, 0, 0, 0.436); */
    background-color: #13242e;
  }
  
  .codeeditor__codearea {
    border-radius: 5px;
    width: 100%;
    height: 500px;
    font-family: monospace;
    font-size: 1rem;
    resize: none;
    padding: 10px;
    background-color: #EDF4F7;
  }
  
  .codeeditor__codearea--locked {
    background-color: #f7f7f7;
    cursor: not-allowed;
  }
  
  @media (max-width: 999px) {
    .codeeditor {
      width: 80%;
    }
  }
  
  @media (max-width: 767px) {
    .codeeditor {
      width: 90%;
    }
  }
  
  @media (max-width: 575px) {
    .codeeditor {
      width: 85%;
      padding: 20px;
    }

    .codeeditor__codearea {
      height: 500px;
      font-size: 0.9rem;
    }
  }
  